<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind playcdn script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="main bg-zinc-900 h-screen w-full text-white p-5">
        <a class="text-lg text-blue-500 mb-5 inline-block" href="/">Go back to previous page </a>
        <h1 class="text-4xl mb-2">
            <%= filename %>
        </h1>
        <p class="text-zinc-400">
            <%= filesdata %>
        </p>
    </div>
    </div>
</body>

</html>