<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind playcdn script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="main bg-zinc-900 h-screen w-full text-white p-5">
        <div class="createtasks">
            <h1>Create Tasks</h1>
            <form action="/create" class="text-zinc-600" method="post">
                <input class="w-full inline-block outline-none p-2 mb-5" placeholder="Title" type="text" name="title">
                <textarea class="w-full inline-block outline-none p-2" name="description"
                    placeholder="Description"></textarea>
                <button class="bg-blue-600 px-6 py-2 rounded-md mt-5 text-white" type="details">Create</button>
            </form>
        </div>
        <div class="tasks  flex flex-warp flex gap-5">
            <% if(files.length>0) { %>
                <% files.forEach(val=>{%>
                    <div class="task  w-72 h-72 bg-zinc-800 p-5 rounded-md mt-5">
                        <h1>
                            <%= val %>
                        </h1>
                        <a class=" bg-blue-600 px-5 py-2 rounded-md mt-5 inline-block " href="/files/<%=val%>"> read more </a>
                    </div>
                    <% })} else { %>
                        <h1 class="text-zinc-600 mt-2">No Task yet</h1>
                        <% } %>
        </div>
    </div>
</body>

</html>